*{ 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}


h1 {
  font-size: 32px;
  font-weight: 500;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #f0bbbb;
}

.form-sign-up {
  margin: 15px auto;
  width: 400px; 
  height: 600px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ffffff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(8, 28, 245, 0.31); 
  border: solid 1px #aba6a6;
}

input[type=radio] {
    visibility: hidden;
  }
  
  form{
    margin: 0 30px;
  }

  label{
    margin-left: 5px;
  }
  
  label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
  }
  
  label.radio:before {
    background: #ef9fb3;
    content:'';
    position: absolute;
    top:2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  
  label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  input[type=radio]:checked + label:after {
    opacity: 1;
  }

  .icon {
    display: inline-block;
    width: 32px;
    background-color: #ef9fb3;
    padding: 12px 0px 11px 15px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px; 
    -moz-border-radius: 4px 0px 0px 4px; 
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 0.5px #cbc9c9;
  }
  
  input[type=text],input[type=date], input[type=file]{
    width: 220px; 
    height: 39px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #fff; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
  }

  input[type=text]:focus{
    border: solid 1px #090000;
  }

  input[type=file]{
    padding-top: 8.5px;
    width: 220px;
    height: auto;
    padding-bottom: 7px;
    
  }

  .upload-img{
    margin-bottom: 10px;
  }
  
  #icon {
    display: inline-block;
    width: 30px;
    background-color: #ef9fb3;
    padding: 8px 0px 8px 15px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px; 
    -moz-border-radius: 4px 0px 0px 4px; 
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 0px #cbc9c9;
  }
  
  .gender {
    margin-top: 10px;
    margin-left: 20px;
  }

  .calendar{
    margin-left: 5px;
    margin-bottom: 0px;
  }

  #displayImg{
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
    align-items: center;
    margin-left: 12px;
    justify-content: center;
  }
  
  a.button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 0px 20px;
    margin: 10px 8px 20px 0px;
    display: inline-block;
    float: right;
    text-decoration: none;
    width: 50px; height: 27px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #ef9fb3; 
    -webkit-box-shadow: 0 3px rgba(244, 173, 203, 0.75); 
    -moz-box-shadow: 0 3px rgba(244, 173, 203, 0.75); 
    box-shadow: 0 3px rgba(244, 173, 203, 0.75);
    transition: all 0.1s linear 0s; 
    top: 0px;
    position: relative;
  }
  
  a.button:hover {
    top: 3px;
    background-color:#ff456d;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;  
  }



